@page "/account/logout"

@inject AuthenticationStateProvider asp
@inject NavigationManager nm;

<AuthorizeView>
	<Authorized>
		<p>loggin out ...</p>
	</Authorized>
</AuthorizeView>


@code {
	protected override async Task OnInitializedAsync()
	{
		var jwtAsp = (JwtAuthenticationStateProvider)asp;
		await jwtAsp.Logout();
		nm.NavigateTo("/", true);
	}
}
