@using iPath.UI.Areas.DraftStorage

@inject INodeViewModel vm
@inject IToastService srvToast;
@inject ILogger<AnnotationView> logger

<div class="node_annotation">
	<div class="annotation_info">
		@if (!Model.IsVisible)
		{
			<FluentBadge Fill="somevalue" BackgroundColor="red" Color="white">@Model.Visibility.Name</FluentBadge><br />
		}
		<b>@Model.Owner.Username</b>
		<div>@Model.CreatedOn.ToShortDateString()</div>
	</div>
	<div class="annotation_text">@Model.Html</div>
</div>


@code {
	[Parameter]
	public AnnotationModel Model { get; set; }
}
