@page "/admin"
@page "/admin/index"


<FluentBreadcrumb>
	<FluentBreadcrumbItem Href="/">
		home
	</FluentBreadcrumbItem>
	<FluentBreadcrumbItem>
		administration
	</FluentBreadcrumbItem>
</FluentBreadcrumb>



<AuthorizeView Roles="Admin">
	<NotAuthorized>
		<div class="errormessage">not authorized</div>
	</NotAuthorized>
	<Authorized>
		<h3>System Administration</h3>

		<ul>
			<li>
				<FluentNavLink Href="/admin/communities">Communities</FluentNavLink>
			</li>
			<li>
				<FluentNavLink Href="/admin/groups">Groups</FluentNavLink>
			</li>
			<li>
				<FluentNavLink Href="/admin/users">Users</FluentNavLink>
			</li>
		</ul>
	</Authorized>
</AuthorizeView>
